.main-container{
    display: grid;
    place-items: center;
    justify-items: center;
    margin-top: 3%;
}

.card{
    border: 1px black solid;
    border-radius: 5px;
    padding: 30px 100px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        padding: 3% 5%;
        justify-items: center;
    }

    .card{
        padding: 5% 10%;
    }
}